#title {
  text-align: center;
}

#color-palette {
  width: fit-content;
  height: fit-content;
  margin-left: 550px;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 10%;
}

.color:nth-of-type(1) {
  background-color: black;
}

.color:nth-of-type(2) {
  background-color: red;
}

.color:nth-of-type(3) {
  background-color: green;
}

.color:nth-of-type(4) {
  background-color: blue;
}

#button-random-color {
  margin-left: 605px;
}

#pixel-board {
  border: 1px solid black;
  width: 227px;
  height: 227px;
  margin-left: 545px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

.selected {
  border-radius: 50%;
}